<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AddSouvenirServlet</servlet-name>
        <servlet-class>servlets.AddSouvenirServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSouvenirServlet</servlet-name>
        <url-pattern>/addSouvenir</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewSouvenirsServlet</servlet-name>
        <servlet-class>servlets.ViewSouvenirsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewSouvenirsServlet</servlet-name>
        <url-pattern>/viewSouvenirs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteSouvenirServlet</servlet-name>
        <servlet-class>servlets.DeleteSouvenirServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSouvenirServlet</servlet-name>
        <url-pattern>/deleteSouvenir</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditSouvenirServlet</servlet-name>
        <servlet-class>servlets.EditSouvenirServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditSouvenirServlet</servlet-name>
        <url-pattern>/editSouvenir</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddProducerServlet</servlet-name>
        <servlet-class>servlets.AddProducerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProducerServlet</servlet-name>
        <url-pattern>/addProducer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewProducersServlet</servlet-name>
        <servlet-class>servlets.ViewProducersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProducersServlet</servlet-name>
        <url-pattern>/viewProducers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteProducerServlet</servlet-name>
        <servlet-class>servlets.DeleteProducerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProducerServlet</servlet-name>
        <url-pattern>/deleteProducer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProducerServlet</servlet-name>
        <servlet-class>servlets.EditProducerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProducerServlet</servlet-name>
        <url-pattern>/editProducer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SouvenirsProducerServlet</servlet-name>
        <servlet-class>servlets.SouvenirsProducerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SouvenirsProducerServlet</servlet-name>
        <url-pattern>/souvenirsProducer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SouvenirsCountryServlet</servlet-name>
        <servlet-class>servlets.SouvenirsCountryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SouvenirsCountryServlet</servlet-name>
        <url-pattern>/souvenirsCountry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProducersPriceServlet</servlet-name>
        <servlet-class>servlets.ProducersPriceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProducersPriceServlet</servlet-name>
        <url-pattern>/producersPrice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProducersNameAndDateServlet</servlet-name>
        <servlet-class>servlets.ProducersNameAndDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProducersNameAndDateServlet</servlet-name>
        <url-pattern>/producersNameAndDate</url-pattern>
    </servlet-mapping>

</web-app>